<?xml version="1.0" encoding="utf-8"?>
<manifest package="br.eti.asneto.android.fastnotes"
	xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.1b" android:versionCode="1">

	<!-- Mínimo Android 1.6 -->
	<uses-sdk android:minSdkVersion="4" />

	<application 
		android:icon="@drawable/ic_launcher_fastnotes" 
		android:label="@string/app_name">
		
		<activity android:name=".FastNotes" android:label="@string/app_name" android:theme="@style/customTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".NotesEdit" android:theme="@style/customTitleBar"></activity>
		
		<activity android:name=".NotesView" android:theme="@style/customTitleBar"></activity>

	</application>

</manifest> 